h2{color: blue;}
h2{text-decoration: underline;}
h2{font-family: cursive;}
h2{font-weight: bold;}
i{font-weight: bold;}
figcaption{font-family: cursive;}
figcaption{color: blue;}
p{font-family: cursive;}
